<div class="preloader" id="preloader">
    <div class="preloader-content">
        <div class="preloader-logo"><img src="/img/Ganassa_Logo_14_Type_White.png" alt="GANASSA Logo"></div>
        <div class="preloader-progress">
            <div class="preloader-progress-bar"></div>
        </div>
        <div class="preloader-text">Warming Up</div>
    </div>
</div>
