--
-- PostgreSQL database dump
--

\restrict fjFrySMGlUz7HIxUsEcKc9fSEoDYswXjNEvcIOujc0S0ymIIQ3zblWZTi1fsc6F

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.seo_metadata DROP CONSTRAINT IF EXISTS seo_metadata_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.faq_items DROP CONSTRAINT IF EXISTS faq_items_page_id_fkey;
ALTER TABLE IF EXISTS ONLY public.content_blocks DROP CONSTRAINT IF EXISTS content_blocks_page_id_fkey;
DROP INDEX IF EXISTS public.idx_submissions_status;
DROP INDEX IF EXISTS public.idx_submissions_date;
DROP INDEX IF EXISTS public.idx_seo_page_lang;
DROP INDEX IF EXISTS public.idx_pages_status;
DROP INDEX IF EXISTS public.idx_pages_slug;
DROP INDEX IF EXISTS public.idx_content_blocks_page;
DROP INDEX IF EXISTS public.idx_content_blocks_lookup;
ALTER TABLE IF EXISTS ONLY public.testimonials DROP CONSTRAINT IF EXISTS testimonials_pkey;
ALTER TABLE IF EXISTS ONLY public.team_members DROP CONSTRAINT IF EXISTS team_members_pkey;
ALTER TABLE IF EXISTS ONLY public.site_settings DROP CONSTRAINT IF EXISTS site_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.services DROP CONSTRAINT IF EXISTS services_slug_key;
ALTER TABLE IF EXISTS ONLY public.services DROP CONSTRAINT IF EXISTS services_pkey;
ALTER TABLE IF EXISTS ONLY public.seo_metadata DROP CONSTRAINT IF EXISTS seo_metadata_pkey;
ALTER TABLE IF EXISTS ONLY public.seo_metadata DROP CONSTRAINT IF EXISTS seo_metadata_page_id_lang_key;
ALTER TABLE IF EXISTS ONLY public.partners DROP CONSTRAINT IF EXISTS partners_pkey;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_slug_key;
ALTER TABLE IF EXISTS ONLY public.pages DROP CONSTRAINT IF EXISTS pages_pkey;
ALTER TABLE IF EXISTS ONLY public.form_fields DROP CONSTRAINT IF EXISTS form_fields_pkey;
ALTER TABLE IF EXISTS ONLY public.faq_items DROP CONSTRAINT IF EXISTS faq_items_pkey;
ALTER TABLE IF EXISTS ONLY public.content_blocks DROP CONSTRAINT IF EXISTS content_blocks_pkey;
ALTER TABLE IF EXISTS ONLY public.content_blocks DROP CONSTRAINT IF EXISTS content_blocks_page_id_section_block_key_key;
ALTER TABLE IF EXISTS ONLY public.contact_submissions DROP CONSTRAINT IF EXISTS contact_submissions_pkey;
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS clients_pkey;
ALTER TABLE IF EXISTS ONLY public.admin_users DROP CONSTRAINT IF EXISTS admin_users_pkey;
ALTER TABLE IF EXISTS ONLY public.admin_users DROP CONSTRAINT IF EXISTS admin_users_email_key;
ALTER TABLE IF EXISTS public.testimonials ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.team_members ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.services ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.seo_metadata ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.partners ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.pages ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.form_fields ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.faq_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.content_blocks ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.contact_submissions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.clients ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.admin_users ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.testimonials_id_seq;
DROP TABLE IF EXISTS public.testimonials;
DROP SEQUENCE IF EXISTS public.team_members_id_seq;
DROP TABLE IF EXISTS public.team_members;
DROP TABLE IF EXISTS public.site_settings;
DROP SEQUENCE IF EXISTS public.services_id_seq;
DROP TABLE IF EXISTS public.services;
DROP SEQUENCE IF EXISTS public.seo_metadata_id_seq;
DROP TABLE IF EXISTS public.seo_metadata;
DROP SEQUENCE IF EXISTS public.partners_id_seq;
DROP TABLE IF EXISTS public.partners;
DROP SEQUENCE IF EXISTS public.pages_id_seq;
DROP TABLE IF EXISTS public.pages;
DROP SEQUENCE IF EXISTS public.form_fields_id_seq;
DROP TABLE IF EXISTS public.form_fields;
DROP SEQUENCE IF EXISTS public.faq_items_id_seq;
DROP TABLE IF EXISTS public.faq_items;
DROP SEQUENCE IF EXISTS public.content_blocks_id_seq;
DROP TABLE IF EXISTS public.content_blocks;
DROP SEQUENCE IF EXISTS public.contact_submissions_id_seq;
DROP TABLE IF EXISTS public.contact_submissions;
DROP SEQUENCE IF EXISTS public.clients_id_seq;
DROP TABLE IF EXISTS public.clients;
DROP SEQUENCE IF EXISTS public.admin_users_id_seq;
DROP TABLE IF EXISTS public.admin_users;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(100),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.admin_users OWNER TO ganassa;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO ganassa;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    logo_url character varying(500),
    website_url character varying(500),
    category character varying(50),
    is_visible boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.clients OWNER TO ganassa;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.clients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_seq OWNER TO ganassa;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: contact_submissions; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.contact_submissions (
    id integer NOT NULL,
    first_name character varying(100),
    last_name character varying(100),
    email character varying(255),
    company character varying(200),
    message text,
    source_page character varying(50) DEFAULT 'contact'::character varying,
    phone character varying(50),
    "position" character varying(200),
    country character varying(100),
    ticket_type character varying(50),
    special_requirements text,
    status character varying(20) DEFAULT 'new'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    extra_data jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT contact_submissions_status_check CHECK (((status)::text = ANY ((ARRAY['new'::character varying, 'read'::character varying, 'replied'::character varying])::text[])))
);


ALTER TABLE public.contact_submissions OWNER TO ganassa;

--
-- Name: contact_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.contact_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_submissions_id_seq OWNER TO ganassa;

--
-- Name: contact_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.contact_submissions_id_seq OWNED BY public.contact_submissions.id;


--
-- Name: content_blocks; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.content_blocks (
    id integer NOT NULL,
    page_id integer,
    section character varying(100) NOT NULL,
    block_key character varying(100) NOT NULL,
    content_en text,
    content_ja text,
    content_ko text,
    block_type character varying(20) DEFAULT 'text'::character varying,
    sort_order integer DEFAULT 0,
    is_visible boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.content_blocks OWNER TO ganassa;

--
-- Name: content_blocks_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.content_blocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.content_blocks_id_seq OWNER TO ganassa;

--
-- Name: content_blocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.content_blocks_id_seq OWNED BY public.content_blocks.id;


--
-- Name: faq_items; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.faq_items (
    id integer NOT NULL,
    page_id integer,
    question_en text,
    question_ja text,
    question_ko text,
    answer_en text,
    answer_ja text,
    answer_ko text,
    is_visible boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    category_en text DEFAULT ''::text,
    category_ja text DEFAULT ''::text,
    category_ko text DEFAULT ''::text
);


ALTER TABLE public.faq_items OWNER TO ganassa;

--
-- Name: faq_items_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.faq_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.faq_items_id_seq OWNER TO ganassa;

--
-- Name: faq_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.faq_items_id_seq OWNED BY public.faq_items.id;


--
-- Name: form_fields; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.form_fields (
    id integer NOT NULL,
    form_id character varying(50) NOT NULL,
    field_type character varying(30) DEFAULT 'text'::character varying NOT NULL,
    field_name character varying(100) NOT NULL,
    label_en character varying(200) NOT NULL,
    placeholder_en character varying(200) DEFAULT ''::character varying,
    is_required boolean DEFAULT false NOT NULL,
    is_visible boolean DEFAULT true NOT NULL,
    is_core boolean DEFAULT false NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    options_json jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    label_ja character varying(200) DEFAULT ''::character varying,
    label_ko character varying(200) DEFAULT ''::character varying,
    placeholder_ja character varying(200) DEFAULT ''::character varying,
    placeholder_ko character varying(200) DEFAULT ''::character varying
);


ALTER TABLE public.form_fields OWNER TO ganassa;

--
-- Name: form_fields_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.form_fields_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.form_fields_id_seq OWNER TO ganassa;

--
-- Name: form_fields_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.form_fields_id_seq OWNED BY public.form_fields.id;


--
-- Name: pages; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.pages (
    id integer NOT NULL,
    slug character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'live'::character varying,
    show_in_nav boolean DEFAULT true,
    nav_order integer DEFAULT 0,
    nav_label_en character varying(100),
    nav_label_ja character varying(100),
    nav_label_ko character varying(100),
    nav_class character varying(50) DEFAULT ''::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT pages_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'coming_soon'::character varying, 'live'::character varying])::text[])))
);


ALTER TABLE public.pages OWNER TO ganassa;

--
-- Name: pages_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.pages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pages_id_seq OWNER TO ganassa;

--
-- Name: pages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.pages_id_seq OWNED BY public.pages.id;


--
-- Name: partners; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.partners (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    logo_url character varying(500),
    website_url character varying(500),
    category character varying(50),
    description_en text,
    description_ja text,
    description_ko text,
    country character varying(100),
    is_visible boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.partners OWNER TO ganassa;

--
-- Name: partners_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.partners_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.partners_id_seq OWNER TO ganassa;

--
-- Name: partners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.partners_id_seq OWNED BY public.partners.id;


--
-- Name: seo_metadata; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.seo_metadata (
    id integer NOT NULL,
    page_id integer,
    lang character varying(5) NOT NULL,
    title character varying(255),
    description character varying(500),
    og_title character varying(255),
    og_description character varying(500),
    og_image character varying(500),
    noindex boolean DEFAULT false,
    canonical_url character varying(500),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.seo_metadata OWNER TO ganassa;

--
-- Name: seo_metadata_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.seo_metadata_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seo_metadata_id_seq OWNER TO ganassa;

--
-- Name: seo_metadata_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.seo_metadata_id_seq OWNED BY public.seo_metadata.id;


--
-- Name: services; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.services (
    id integer NOT NULL,
    slug character varying(100) NOT NULL,
    icon_class character varying(100),
    image_url character varying(500),
    title_en character varying(200),
    title_ja character varying(200),
    title_ko character varying(200),
    subtitle_en text,
    subtitle_ja text,
    subtitle_ko text,
    description_en text,
    description_ja text,
    description_ko text,
    features_en jsonb DEFAULT '[]'::jsonb,
    features_ja jsonb DEFAULT '[]'::jsonb,
    features_ko jsonb DEFAULT '[]'::jsonb,
    is_visible boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.services OWNER TO ganassa;

--
-- Name: services_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.services_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.services_id_seq OWNER TO ganassa;

--
-- Name: services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.services_id_seq OWNED BY public.services.id;


--
-- Name: site_settings; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.site_settings (
    key character varying(100) NOT NULL,
    value_en text,
    value_ja text,
    value_ko text,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.site_settings OWNER TO ganassa;

--
-- Name: team_members; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.team_members (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    position_en character varying(200),
    position_ja character varying(200),
    position_ko character varying(200),
    bio_en text,
    bio_ja text,
    bio_ko text,
    photo_url character varying(500),
    department character varying(50),
    field_position character varying(50),
    sort_order integer DEFAULT 0,
    is_visible boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    linkedin_url character varying(500)
);


ALTER TABLE public.team_members OWNER TO ganassa;

--
-- Name: team_members_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.team_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.team_members_id_seq OWNER TO ganassa;

--
-- Name: team_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.team_members_id_seq OWNED BY public.team_members.id;


--
-- Name: testimonials; Type: TABLE; Schema: public; Owner: ganassa
--

CREATE TABLE public.testimonials (
    id integer NOT NULL,
    author_name character varying(100),
    author_position_en character varying(200),
    author_position_ja character varying(200),
    author_position_ko character varying(200),
    author_avatar_url character varying(500),
    team_logo_url character varying(500),
    quote_en text,
    quote_ja text,
    quote_ko text,
    is_visible boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.testimonials OWNER TO ganassa;

--
-- Name: testimonials_id_seq; Type: SEQUENCE; Schema: public; Owner: ganassa
--

CREATE SEQUENCE public.testimonials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.testimonials_id_seq OWNER TO ganassa;

--
-- Name: testimonials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ganassa
--

ALTER SEQUENCE public.testimonials_id_seq OWNED BY public.testimonials.id;


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: contact_submissions id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.contact_submissions ALTER COLUMN id SET DEFAULT nextval('public.contact_submissions_id_seq'::regclass);


--
-- Name: content_blocks id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.content_blocks ALTER COLUMN id SET DEFAULT nextval('public.content_blocks_id_seq'::regclass);


--
-- Name: faq_items id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.faq_items ALTER COLUMN id SET DEFAULT nextval('public.faq_items_id_seq'::regclass);


--
-- Name: form_fields id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.form_fields ALTER COLUMN id SET DEFAULT nextval('public.form_fields_id_seq'::regclass);


--
-- Name: pages id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.pages ALTER COLUMN id SET DEFAULT nextval('public.pages_id_seq'::regclass);


--
-- Name: partners id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.partners ALTER COLUMN id SET DEFAULT nextval('public.partners_id_seq'::regclass);


--
-- Name: seo_metadata id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.seo_metadata ALTER COLUMN id SET DEFAULT nextval('public.seo_metadata_id_seq'::regclass);


--
-- Name: services id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.services ALTER COLUMN id SET DEFAULT nextval('public.services_id_seq'::regclass);


--
-- Name: team_members id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.team_members ALTER COLUMN id SET DEFAULT nextval('public.team_members_id_seq'::regclass);


--
-- Name: testimonials id; Type: DEFAULT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.testimonials ALTER COLUMN id SET DEFAULT nextval('public.testimonials_id_seq'::regclass);


--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.admin_users (id, email, password_hash, name, created_at) VALUES (1, 'admin@ganassa.jp', '$2a$12$i9Hm411eSGNJ2XsXU0GOReI/06gyG/J4d0qmWelhgHl2SzGgS4e12', 'Admin', '2026-03-16 23:39:49.680273');


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.clients (id, name, logo_url, website_url, category, is_visible, sort_order, created_at) VALUES (1, 'Bundesliga', '/img/clients/bundesliga.png', NULL, 'league', true, 1, '2026-03-16 23:39:49.680273');
INSERT INTO public.clients (id, name, logo_url, website_url, category, is_visible, sort_order, created_at) VALUES (2, 'FIFA', '/img/clients/fifa.png', NULL, 'federation', true, 2, '2026-03-16 23:39:49.680273');
INSERT INTO public.clients (id, name, logo_url, website_url, category, is_visible, sort_order, created_at) VALUES (3, 'UEFA Champions League', '/img/clients/champions.png', NULL, 'league', true, 3, '2026-03-16 23:39:49.680273');


--
-- Data for Name: contact_submissions; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.contact_submissions (id, first_name, last_name, email, company, message, source_page, phone, "position", country, ticket_type, special_requirements, status, created_at, extra_data) VALUES (1, 'Test', 'User', 'test@example.com', 'Test Corp', 'This is a test message to verify the contact form is working', 'contact', NULL, NULL, NULL, NULL, NULL, 'new', '2026-03-16 23:44:44.913974', '{}');
INSERT INTO public.contact_submissions (id, first_name, last_name, email, company, message, source_page, phone, "position", country, ticket_type, special_requirements, status, created_at, extra_data) VALUES (2, 'John', 'Doe', 'john@test.com', 'TestCo', 'Testing the contact form with a message that has more than 20 characters', 'contact', NULL, NULL, NULL, NULL, NULL, 'new', '2026-03-16 23:44:50.2696', '{}');


--
-- Data for Name: content_blocks; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.content_blocks (id, page_id, section, block_key, content_en, content_ja, content_ko, block_type, sort_order, is_visible, created_at, updated_at) VALUES (26, 2, 'hero', 'stat_1_label', 'European Football Clubs', 'Òâ¿Òâ╝Òâ¡ÒââÒâæÒü«ÒéÁÒââÒé½Òâ╝Òé»Òâ®Òâû', 'ý£áÙƒ¢ ýÂòÛÁ¼ Ýü┤Ùƒ¢', 'text', 4, true, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');
INSERT INTO public.content_blocks (id, page_id, section, block_key, content_en, content_ja, content_ko, block_type, sort_order, is_visible, created_at, updated_at) VALUES (28, 2, 'hero', 'stat_2_label', 'Social Media Editors', 'Òé¢Òâ╝ÒéÀÒâúÒâ½ÒâíÒâçÒéúÒéóþÀ¿ÚøåÞÇà', 'ýåîýà£ Ù»©Ùööýû┤ ýùÉÙööÝä░', 'text', 6, true, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');
INSERT INTO public.content_blocks (id, page_id, section, block_key, content_en, content_ja, content_ko, block_type, sort_order, is_visible, created_at, updated_at) VALUES (30, 2, 'hero', 'stat_3_label', 'Asian Fans Reached', 'ÒéóÒé©ÒéóÒü«ÒâòÒéíÒâ│Òü½Òâ¬Òâ╝Òâü', 'ýòäýï£ýòä Ýî¼ÙôñýùÉÛ▓î ÙÅäÙï¼', 'text', 8, true, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');


--
-- Data for Name: faq_items; Type: TABLE DATA; Schema: public; Owner: ganassa
--



--
-- Data for Name: form_fields; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.form_fields (id, form_id, field_type, field_name, label_en, placeholder_en, is_required, is_visible, is_core, sort_order, options_json, created_at, updated_at, label_ja, label_ko, placeholder_ja, placeholder_ko) VALUES (1, 'contact', 'text', 'firstName', 'First Name', 'Enter your first name', true, true, true, 10, NULL, '2026-03-24 07:18:36.200096+00', '2026-03-24 07:18:36.200096+00', 'ÕÉì', 'ýØ┤Ùªä', 'ÕÉìÕëìÒéÆÕàÑÕèøÒüùÒüªÒüÅÒüáÒüòÒüä', 'ýØ┤ÙªäýØä ý×àÙáÑÝòÿýä©ýÜö');
INSERT INTO public.form_fields (id, form_id, field_type, field_name, label_en, placeholder_en, is_required, is_visible, is_core, sort_order, options_json, created_at, updated_at, label_ja, label_ko, placeholder_ja, placeholder_ko) VALUES (2, 'contact', 'text', 'lastName', 'Last Name', 'Enter your last name', true, true, true, 20, NULL, '2026-03-24 07:18:36.200096+00', '2026-03-24 07:18:36.200096+00', 'Õºô', 'ýä▒', 'ÞïùÕ¡ùÒéÆÕàÑÕèøÒüùÒüªÒüÅÒüáÒüòÒüä', 'ýä▒ýØä ý×àÙáÑÝòÿýä©ýÜö');
INSERT INTO public.form_fields (id, form_id, field_type, field_name, label_en, placeholder_en, is_required, is_visible, is_core, sort_order, options_json, created_at, updated_at, label_ja, label_ko, placeholder_ja, placeholder_ko) VALUES (3, 'contact', 'text', 'company', 'Company', 'Your company name', true, true, true, 30, NULL, '2026-03-24 07:18:36.200096+00', '2026-03-24 07:18:36.200096+00', 'õ╝Üþñ¥ÕÉì', 'ÝÜîýé¼Ù¬à', 'õ╝Üþñ¥ÕÉìÒéÆÕàÑÕèøÒüùÒüªÒüÅÒüáÒüòÒüä', 'ÝÜîýé¼Ù¬àýØä ý×àÙáÑÝòÿýä©ýÜö');


--
-- Data for Name: pages; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.pages (id, slug, status, show_in_nav, nav_order, nav_label_en, nav_label_ja, nav_label_ko, nav_class, created_at, updated_at) VALUES (1, 'home', 'live', true, 1, 'About Us', 'õ╝Üþñ¥Òü½ÒüñÒüäÒüª', 'ÝÜîýé¼ ýåîÛ░£', '', '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');
INSERT INTO public.pages (id, slug, status, show_in_nav, nav_order, nav_label_en, nav_label_ja, nav_label_ko, nav_class, created_at, updated_at) VALUES (2, 'services', 'live', true, 2, 'Our Services', 'ÒéÁÒâ╝ÒâôÒé╣', 'ýä£Ù╣äýèñ', '', '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');
INSERT INTO public.pages (id, slug, status, show_in_nav, nav_order, nav_label_en, nav_label_ja, nav_label_ko, nav_class, created_at, updated_at) VALUES (3, 'clients', 'live', true, 3, 'Our Clients', 'Òé»Òâ®ÒéñÒéóÒâ│Òâê', 'Ýü┤ÙØ╝ýØ┤ýû©Ýè©', '', '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');


--
-- Data for Name: partners; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.partners (id, name, logo_url, website_url, category, description_en, description_ja, description_ko, country, is_visible, sort_order, created_at) VALUES (1, 'SportsNavi', '/img/partners/sportsnavi.png', NULL, 'platform', NULL, NULL, NULL, 'Japan', true, 1, '2026-03-16 23:39:49.680273');
INSERT INTO public.partners (id, name, logo_url, website_url, category, description_en, description_ja, description_ko, country, is_visible, sort_order, created_at) VALUES (2, 'LINE', '/img/partners/line.png', NULL, 'platform', NULL, NULL, NULL, 'Japan', true, 2, '2026-03-16 23:39:49.680273');
INSERT INTO public.partners (id, name, logo_url, website_url, category, description_en, description_ja, description_ko, country, is_visible, sort_order, created_at) VALUES (3, 'WEIBO', '/img/partners/weibo.png', NULL, 'platform', NULL, NULL, NULL, 'China', true, 3, '2026-03-16 23:39:49.680273');


--
-- Data for Name: seo_metadata; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.seo_metadata (id, page_id, lang, title, description, og_title, og_description, og_image, noindex, canonical_url, created_at, updated_at) VALUES (1, 1, 'en', 'GANASSA | Football Solutions Across Asia', 'Bridging European football with Asian digital culture. We help clubs, leagues and partners grow in Asia.', 'GANASSA | Football Solutions Across Asia', 'Bridging European football with Asian digital culture.', NULL, false, NULL, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');
INSERT INTO public.seo_metadata (id, page_id, lang, title, description, og_title, og_description, og_image, noindex, canonical_url, created_at, updated_at) VALUES (2, 1, 'ja', 'GANASSA | ÒéóÒé©ÒéóÕà¿ÕƒƒÒü«ÒâòÒââÒâêÒâ£Òâ╝Òâ½Òé¢Òâ¬ÒâÑÒâ╝ÒéÀÒâºÒâ│', 'Òâ¿Òâ╝Òâ¡ÒââÒâæÒéÁÒââÒé½Òâ╝Òü¿ÒéóÒé©ÒéóÒü«ÒâçÒé©Òé┐Òâ½µûçÕîûÒéÆþÁÉÒü│Òü¥ÒüÖÒÇé', 'GANASSA | ÒéóÒé©ÒéóÕà¿ÕƒƒÒü«ÒâòÒââÒâêÒâ£Òâ╝Òâ½Òé¢Òâ¬ÒâÑÒâ╝ÒéÀÒâºÒâ│', 'Òâ¿Òâ╝Òâ¡ÒââÒâæÒéÁÒââÒé½Òâ╝Òü¿ÒéóÒé©ÒéóÒü«ÒâçÒé©Òé┐Òâ½µûçÕîûÒéÆþÁÉÒü│Òü¥ÒüÖÒÇé', NULL, false, NULL, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');
INSERT INTO public.seo_metadata (id, page_id, lang, title, description, og_title, og_description, og_image, noindex, canonical_url, created_at, updated_at) VALUES (3, 1, 'ko', 'GANASSA | ýòäýï£ýòä ýáäýù¡ ýÂòÛÁ¼ ýåöÙú¿ýàÿ', 'ý£áÙƒ¢ ýÂòÛÁ¼ýÖÇ ýòäýï£ýòä ÙööýºÇÝä© Ù¼©ÝÖöÙÑ╝ ýù░Û▓░Ýò®ÙïêÙïñ.', 'GANASSA | ýòäýï£ýòä ýáäýù¡ ýÂòÛÁ¼ ýåöÙú¿ýàÿ', 'ý£áÙƒ¢ ýÂòÛÁ¼ýÖÇ ýòäýï£ýòä ÙööýºÇÝä© Ù¼©ÝÖöÙÑ╝ ýù░Û▓░Ýò®ÙïêÙïñ.', NULL, false, NULL, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273');


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: ganassa
--



--
-- Data for Name: site_settings; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.site_settings (key, value_en, value_ja, value_ko, updated_at) VALUES ('site_name', 'GANASSA', 'GANASSA', 'GANASSA', '2026-03-16 23:39:49.680273');
INSERT INTO public.site_settings (key, value_en, value_ja, value_ko, updated_at) VALUES ('site_slogan', 'Football Solutions Across Asia', 'ÒéóÒé©ÒéóÕà¿ÕƒƒÒü«ÒâòÒââÒâêÒâ£Òâ╝Òâ½Òé¢Òâ¬ÒâÑÒâ╝ÒéÀÒâºÒâ│', 'ýòäýï£ýòä ýáäýù¡ ýÂòÛÁ¼ ýåöÙú¿ýàÿ', '2026-03-16 23:39:49.680273');
INSERT INTO public.site_settings (key, value_en, value_ja, value_ko, updated_at) VALUES ('contact_email', 'info@ganassa.jp', 'info@ganassa.jp', 'info@ganassa.jp', '2026-03-16 23:39:49.680273');


--
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: ganassa
--

INSERT INTO public.team_members (id, name, position_en, position_ja, position_ko, bio_en, bio_ja, bio_ko, photo_url, department, field_position, sort_order, is_visible, created_at, updated_at, linkedin_url) VALUES (12, 'Mario Kawata', 'SENIOR EDITOR JAPAN', 'µùÑµ£¼µïàÕ¢ôÒéÀÒâïÒéóÒé¿ÒâçÒéúÒé┐Òâ╝', 'ýØ╝Ù│© ýêÿýäØ ÝÄ©ýºæý×É', 'Content Specialist', 'Òé│Òâ│ÒâåÒâ│ÒâäÒé╣ÒâÜÒéÀÒâúÒâ¬Òé╣Òâê', 'ý¢ÿÝàÉý©á ýáäÙ¼©Û░Ç', '/img/Mario.jpg', 'editorial', 'striker', 11, true, '2026-03-16 23:39:49.680273', '2026-03-16 23:39:49.680273', NULL);


--
-- Data for Name: testimonials; Type: TABLE DATA; Schema: public; Owner: ganassa
--



--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 1, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.clients_id_seq', 28, true);


--
-- Name: contact_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.contact_submissions_id_seq', 2, true);


--
-- Name: content_blocks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.content_blocks_id_seq', 143, true);


--
-- Name: faq_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.faq_items_id_seq', 18, true);


--
-- Name: form_fields_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.form_fields_id_seq', 14, true);


--
-- Name: pages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.pages_id_seq', 7, true);


--
-- Name: partners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.partners_id_seq', 13, true);


--
-- Name: seo_metadata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.seo_metadata_id_seq', 21, true);


--
-- Name: services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.services_id_seq', 6, true);


--
-- Name: team_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.team_members_id_seq', 13, true);


--
-- Name: testimonials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ganassa
--

SELECT pg_catalog.setval('public.testimonials_id_seq', 5, true);


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: contact_submissions contact_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.contact_submissions
    ADD CONSTRAINT contact_submissions_pkey PRIMARY KEY (id);


--
-- Name: content_blocks content_blocks_page_id_section_block_key_key; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.content_blocks
    ADD CONSTRAINT content_blocks_page_id_section_block_key_key UNIQUE (page_id, section, block_key);


--
-- Name: content_blocks content_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.content_blocks
    ADD CONSTRAINT content_blocks_pkey PRIMARY KEY (id);


--
-- Name: faq_items faq_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.faq_items
    ADD CONSTRAINT faq_items_pkey PRIMARY KEY (id);


--
-- Name: form_fields form_fields_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.form_fields
    ADD CONSTRAINT form_fields_pkey PRIMARY KEY (id);


--
-- Name: pages pages_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_pkey PRIMARY KEY (id);


--
-- Name: pages pages_slug_key; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.pages
    ADD CONSTRAINT pages_slug_key UNIQUE (slug);


--
-- Name: partners partners_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.partners
    ADD CONSTRAINT partners_pkey PRIMARY KEY (id);


--
-- Name: seo_metadata seo_metadata_page_id_lang_key; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.seo_metadata
    ADD CONSTRAINT seo_metadata_page_id_lang_key UNIQUE (page_id, lang);


--
-- Name: seo_metadata seo_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.seo_metadata
    ADD CONSTRAINT seo_metadata_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: services services_slug_key; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_slug_key UNIQUE (slug);


--
-- Name: site_settings site_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.site_settings
    ADD CONSTRAINT site_settings_pkey PRIMARY KEY (key);


--
-- Name: team_members team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.team_members
    ADD CONSTRAINT team_members_pkey PRIMARY KEY (id);


--
-- Name: testimonials testimonials_pkey; Type: CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.testimonials
    ADD CONSTRAINT testimonials_pkey PRIMARY KEY (id);


--
-- Name: idx_content_blocks_lookup; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_content_blocks_lookup ON public.content_blocks USING btree (page_id, section, block_key);


--
-- Name: idx_content_blocks_page; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_content_blocks_page ON public.content_blocks USING btree (page_id);


--
-- Name: idx_pages_slug; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_pages_slug ON public.pages USING btree (slug);


--
-- Name: idx_pages_status; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_pages_status ON public.pages USING btree (status);


--
-- Name: idx_seo_page_lang; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_seo_page_lang ON public.seo_metadata USING btree (page_id, lang);


--
-- Name: idx_submissions_date; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_submissions_date ON public.contact_submissions USING btree (created_at DESC);


--
-- Name: idx_submissions_status; Type: INDEX; Schema: public; Owner: ganassa
--

CREATE INDEX idx_submissions_status ON public.contact_submissions USING btree (status);


--
-- Name: content_blocks content_blocks_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.content_blocks
    ADD CONSTRAINT content_blocks_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: faq_items faq_items_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.faq_items
    ADD CONSTRAINT faq_items_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- Name: seo_metadata seo_metadata_page_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ganassa
--

ALTER TABLE ONLY public.seo_metadata
    ADD CONSTRAINT seo_metadata_page_id_fkey FOREIGN KEY (page_id) REFERENCES public.pages(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict fjFrySMGlUz7HIxUsEcKc9fSEoDYswXjNEvcIOujc0S0ymIIQ3zblWZTi1fsc6F

